<html>
	<head>
		<meta charset="UTF-8" />	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">	
	</head>
	
	<body>
	
		<div class="jumbotron">
			<h1 class="display-7">Busca Livros da API Google Books</h1>
		</div>
		
 		<form action="/lista" method="GET"> <!-- submeter essas informações para esta URL -->
 			<div class="card">
 				<div class="card-body">
 				
		 			<label class="form-label">Nome total ou parcial: </label>
					<input id="nomeParaBusca" class="form-control" name="nomeLivro"/>
					<button id="buscaPorNome" class="btn btn-primary mt-3" type="submit">Buscar</button> 
				</div>
 			</div>
		
 		</form>
 			
	</body>
		
	
</html>